extends ../layout.pug

block content
  h1.title Shopping Cart
  div.table
      h3 Imagen
      h3 Nombre
      h3 Precio Unitario
      h3 Cantidad
      h3 Subtotal
  article
    each product in products
      div.table
        img(src=product.product.img, alt=product.product.name, style="width: 100px; height: 100px;")
        h4= product.product.name
        p $#{product.product.price}
        form(action="/cart/add", method="post")
          input(type="number", name="quantity", value=product.quantity)
          input(type="hidden", name="productId", value=productId)
          input(type="submit", value="Actualizar")
        p $#{product.subtotal}
        i.far.fa-trash-alt.bote
    
  a(href="/checkout")
    button.call-to-action.esquina Pagar
    h3.esquina $#{total}.00 MXN