extends ../layout.pug

block content
  h3= product.name
  img(src=product.img, alt=product.name)
  p= product.desc
  p Categoría : #{product.category}
  if product.inOffer
    h1 $#{product.offerPrice}.00
  else
    h1 $#{product.price}.00
  p=product._id

  form(action="/cart/add/", method="post")
    input(type="hidden", name="productId", value=product._id)
    button(type="submit") Agregar al carrito