extends ../layout.pug

block content
  section.detail
    div(style="display: flex; flex-direction: column; justify-content: center; align-items: center;")
      h1= product.name
      img(src=product.img)
    div.description
      span.tag= product.category
      p= product.desc
      p $#{product.price}.00 MXN
      form(action="/cart/add/", method="post")
        input(type="hidden", name="productId", value=product._id)
        button.call-to-action(type="submit") Agregar al carrito