extends ../layout.pug

block content 
  h1.title Stickers
  if search
    h3 Resultados de la búsqueda #{searched}
  if filter
    h3 Resultados del filtro #{filtered}
  section.list
    each product in products
      -var productId = product._id
      a(href=`/products/detail/${productId}`) 
        .card
          img(style="width:100px; height: 100px;",src=product.img, alt=product.name)
          p= product.name
          form(action="/cart/add/", method="post")
            input(type="hidden", name="productId", value=product._id)
            button(type="submit") Agregar al carrito
  
  
  h3 Filtrar por
  form(action="/products/filter_by", method="get")
    select(name="category")
      option(value="CHIDOS") CHIDOS
      option(value="MÁS CHIDOS") MÁS CHIDOS
      option(value="SÚPER CHIDOS") SÚPER CHIDOS
    
    button(type="submit", value="Filtrar") Filtrar